/node_modules
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/public/*
!/public/.htaccess
!/public/favicon.ico
!/public/index.php
!/public/robots.txt
