// Import TipTap styles here rather than letting them be automatically injected, to satisfy CSP constraints
@import '~tiptap/src/style.css';

.editor {
    position: relative;

    &__floating-menu {
        position: absolute;
        right: 0.75rem;
        z-index: 1;
        margin-top: -0.25rem;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s, visibility 0.2s;
        &.is-active {
            opacity: 1;
            visibility: visible;
        }
    }

    &.form-control {
        height: unset;

        .focus {
            border-color: #a1cbef;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
        }
    }
}

.editor-content {
    margin-left: 3.8rem;

    :focus {
        outline: none;
    }

    p {
        margin-bottom: 0.5rem;
    }

    h5, .requirement {
        margin-top: 1.25rem;
        margin-bottom: 0.3rem;
    }

    .observation {
        border-left: 2px solid $gray-500;
        background-color: $gray-200;
        cursor: move;

        p {
            user-select: none;
        }

        &.selected {
            outline: 1px dashed $gray-500;
        }

        .delete-button {
            visibility: hidden;
            cursor: pointer;
        }

        &.selected .delete-button, &:hover .delete-button {
            visibility: visible;
        }
    }

    .requirement {
        margin-left: -3.8rem;
        cursor: move;

        &:hover {
            background-color: $gray-200;
        }

        &.selected {
            outline: 1px dashed $gray-500;
        }

        h5 {
            user-select: none;
        }

        .requirement-menu {
            visibility: hidden;
        }

        &.selected .requirement-menu, &:hover .requirement-menu {
            visibility: visible;
        }
    }

    &.readonly {
        margin-left: 1.5rem;

        .observation {
            cursor: unset;
        }

        .requirement {
            margin-left: -1.5rem;
            cursor: unset;
        }

        .requirement:hover {
            background-color: unset;
        }

        .ProseMirror-gapcursor:after {
            display: none;
        }
    }
}
