// Import TipTap styles here rather than letting them be automatically injected, to satisfy CSP constraints
@import 'tiptap-native-styles';

.editor {
    position: relative;

    &.form-control {
        height: unset;

        .focus {
            border-color: #a1cbef;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
        }
    }
}

.offline-warning-banner {
    position: sticky;
    top: 0.375rem;
    z-index: 1000;

    a.text-secondary {
        color: #4c110f !important;
    }

    .text-secondary {
        color: #761b18 !important;
    }
}

.editor-content {
    margin-left: 1.5rem;
    line-height: 1.4;

    :focus {
        outline: none;
    }

    p {
        margin-bottom: 0.5rem;
    }

    h3, h5, .requirement {
        margin-top: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .requirement h5 {
        margin-top: 0;
        margin-bottom: 0;
    }

    h6 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    .observation {
        border-left: 2px solid $gray-500;
        cursor: move;
        white-space: normal;

        blockquote {
            white-space: pre-wrap;
        }

        &:hover {
            background-color: $gray-200;
        }

        &.selected {
            outline: 1px dashed $gray-500;
        }

        .delete-button {
            cursor: pointer;
        }

        .delete-button, .observation-author {
            visibility: hidden;
        }

        &.selected, &:hover {
            .delete-button, .observation-author {
                visibility: visible;
            }
        }
    }

    .requirement {
        margin-left: -1.5rem;
        cursor: move;

        &:hover {
            background-color: $gray-200;
        }

        &.selected {
            outline: 1px dashed $gray-500;
        }

        .requirement-menu {
            visibility: hidden;

            .dropdown-menu.show {
                visibility: visible;
            }
        }

        &.selected .requirement-menu, &:hover .requirement-menu {
            visibility: visible;
        }
    }

    .feedback-requirement-comment {
        background-color: $gray-200;
        width: 50%;
        min-width: 70ch;
        margin-left: auto;
        padding: 5px;
        border-radius: 4px 4px 0 4px;
        position: relative;

        &::after {
            background-color: $white;
            border-bottom-left-radius: 0.5rem;
            right: -40px;
            transform: translate(-30px, -2px);
            width: 10px;
        }

        &::before, &::after {
            bottom: -0.1rem;
            content: "";
            height: 1rem;
            position: absolute;
        }

        &::before {
            border-bottom-left-radius: 0.8rem 0.7rem;
            border-right: 1rem solid $gray-200;
            right: -0.35rem;
            transform: translate(0, -0.1rem);
        }
    }

    &.readonly {

        .observation {
            cursor: unset;

            .observation-author {
                display: none;
            }
        }

        .requirement {
            cursor: unset;
        }

        .requirement:hover {
            background-color: unset;
        }

        .ProseMirror-gapcursor:after {
            display: none;
        }
    }
}
