
.form-group.required > label:after {
    content: "*";
    color: $red;
}

.form-control::placeholder {
    opacity: 0.5;
}

.form-control[type="file"] {
    height: auto;
}

.form-control-multiselect.is-invalid {
    & ~ .invalid-feedback {
        display: block;
    }

    & .multiselect__tags {
        border-color: $red;
    }
}

.custom-control.horizontal-radio {
    display: inline;
    margin-right: 1em;
}

.form-control.btn-hitobito {
    color: #000;
    background-color: #F5F2F4;
    border-color: #521D3A;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: left 0.75rem center;
    background-image: url(/images/midata.svg?53e5c6a5bd90905b308381e3bc54afab);
    padding-left: 4.15rem;
    padding-right: 4.15rem;
    position: relative;
    overflow: hidden;

    &.is-invalid {
        border-color: $red;
    }

    &:hover {
        color: #000;
        background-color: #ECE6EA;
        border-color: #521D3A;

        &::before {
            border-left-color: #521D3A;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 3rem;
        border-left: 1px solid #00a651;
        transition: border-left-color 0.15s ease-in-out;
    }
}

.color-square {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 3px;
    border: 1px solid black;
}
