@media print {
    @page {
        margin-top: 2.5cm;
        margin-bottom: 2.5cm;
    }
    body {
        margin-top: 0;
        background-color: unset;
    }
    a {
        page-break-inside: avoid
    }
    blockquote {
        page-break-inside: avoid;
    }
    p {
        orphans: 3;
        widows: 3;
    }
    h1, h2, h3, h4, h5, h6, .requirement {
        page-break-after: avoid;
        page-break-inside: avoid
    }
    img {
        page-break-inside: avoid;
        page-break-after: avoid;
    }
    table, pre {
        page-break-inside: avoid
    }
    ul, ol, dl {
        page-break-before: avoid
    }
}

.print {

    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;

    .editor-content {

        .observation {
            background-color: unset;

            blockquote {
                border: none;
            }

            .badge {
                color: black;
                background-color: unset;
                padding: 0;
                border: none;

                + .badge:before {
                    content: ' ';
                }
            }

            a:not(.btn) {
                text-decoration: none;
            }
        }

    }

    .progress {

        border: 1px solid black;

        .progress-bar {
            border-right: 1px solid black;
            color: black;

            &.bg-success {
                background-color: rgba(40, 167, 69, 0.5) !important;
            }

            &.bg-danger {
                background-color: rgba(220, 53, 69, 0.5) !important;;
            }
        }

    }

}
