
.table-responsive-cards {

  th, td {
    vertical-align: middle;
  }

  th {
    border-top: 0;
  }

  td.actions {
    text-align: right;

    .modal {
      text-align: initial;
    }

    a {
      padding: 0 0.5em;
    }

  }

  th.check, td.check {
    width: 0;
  }


  @include media-breakpoint-down(md) {

    thead, td.check, th.check {
      display: none;
    }

    tr {
      border: 1px solid $gray-300;
      margin-bottom: 1em;
      display: block;
      padding: 0.5em 0;
    }

    th, td {
      display: block;
      border: none;
      padding: 0 0.75em;
      margin: 0.5em 0;

      &:before {
        content: attr(data-label);
        white-space: pre;
        font-weight: bold;
      }

    }

    td.actions {
      text-align: left;

      a:first-child {
        padding-left: 0;
      }

    }

  }

}
