
.table-responsive-cards {

  th, td {
    vertical-align: middle;
    @extend .multiline
  }

  th {
    border-top: 0;
  }

  td.actions {
    text-align: right;
    width: 0.1%;
    white-space: nowrap;

    a {
      padding: 0 0.5em;
    }

  }

  td .td-background {
    padding: 0.75rem;
  }

  th.check, td.check {
    width: 0;
  }

  td, th {
    hyphens: auto;
  }

  .responsive-td-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.75rem;
  }

  @include media-breakpoint-down(md) {

    thead, td.check, th.check {
      display: none;
    }

    tr {
      border: 1px solid $gray-300;
      margin-bottom: 1em;
      display: block;
      padding: 0.5em 0;
    }

    th, td {
      display: block;
      border: none;
      padding: 0 0.75em;
      margin: 0.5em 0;
    }

    td[data-label]:not([data-label=""]):before {
      content: attr(data-label) "\A";
      white-space: pre;
      font-weight: bold;
    }

    td.actions {
      text-align: left;

      a:first-child {
        padding-left: 0;
      }

    }

    .responsive-td-background {
      position: initial;
      display: block;
      padding: 0 0.75rem;
      margin: 0 -0.75rem;
    }

  }

}
