@use "sass:color";

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Source Sans Pro", "Calibri Light", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$blue-light: color.adjust(#3490dc, $lightness: 20%);
$indigo-light: color.adjust(#6574cd, $lightness: 20%);
$purple-light: color.adjust(#9561e2, $lightness: 20%);
$pink-light: color.adjust(#f66D9b, $lightness: 20%);
$red-light: color.adjust(#e3342f, $lightness: 20%);
$orange-light: color.adjust(#f6993f, $lightness: 20%);
$yellow-light: color.adjust(#ffed4a, $lightness: 20%);
$green-light: color.adjust(#38c172, $lightness: 20%);
$teal-light: color.adjust(#4dc0b5, $lightness: 20%);
$cyan-light: color.adjust(#6cb2eb, $lightness: 20%);
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
