
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Source Sans Pro", "Calibri Light", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$blue-light: lighten(#3490dc, 20%);
$indigo-light: lighten(#6574cd, 20%);
$purple-light: lighten(#9561e2, 20%);
$pink-light: lighten(#f66D9b, 20%);
$red-light: lighten(#e3342f, 20%);
$orange-light: lighten(#f6993f, 20%);
$yellow-light: lighten(#ffed4a, 20%);
$green-light: lighten(#38c172, 20%);
$teal-light: lighten(#4dc0b5, 20%);
$cyan-light: lighten(#6cb2eb, 20%);
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
